@media(max-width: 768px) {
	h2 {
		font-size: 60px;
	}
	.banner {
		.flexslider {
			.content-text {
				span {
					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}

@media(max-width: 767px) {
	h2 {
		font-size: 8vw;
	}	
	.banner {
		.flexslider {
			.content-text {
				top: 15%;
			}
		}
	}
}
@media(max-width: 640px) {	
	p {
		font-size: 13px;
		line-height: 14px;
	}
	.border-right {
		min-height: 20vh;
		position:relative;

		img {
			max-height: 100%;  
		    max-width: 100%; 
		    width: auto;
		    height: auto;
		    position: absolute;  
		    top: 0;  
		    bottom: 0;  
		    left: 0;  
		    right: 0;  
		    margin: auto;
		}
	}
	.banner {
		.flexslider {
			.content-text {
				top: 10%;
				left: 15px;

				span {
					width: 37vw;
				}
			}

			ul.slides {
				li.flex-active-slide {
					a {
						margin-top: 5px;
					}
				}
			}
		}
	}


	
	.carousel-products.mobile {
		display: block;
		text-align: left;
		.carousel-nav {		
			display: block;
			
			.button-group {
				padding: 0px;
				margin-top: 0;
				display: block;
				border-bottom: 0;
				span {
					display: block;
					padding: 0px;

					button {
						display: block;
						margin: 0 auto;
						width: 100%;
						border-bottom: 1px solid @lgrey;
						padding: 5px 0;
					}
					button:hover {
						background: @yellow;
						color: #fff;
					}
				}
			}
		}
		.content-text {
			p {
				a {
					text-transform: uppercase;
					color: #fff;
					padding: 5px 20px;
					background: #107cd4;
					font-weight: 400;
					margin-top: 12px;
					display: inline-block;
					-webkit-border-radius: 20px;
					-moz-border-radius: 20px;
					border-radius: 20px;
				}
			}
		}		
	}
	.carousel-products.desktop {
		display: none;
	}
	.banner {
		.flex-control-nav {
	    	bottom: 0px;
	    }
	}
}
@media(max-width: 480px) {
	.banner {
		.flexslider {
			.content-text {
				top: 5%;
			}
		}

		.flex-control-paging {
			li {
				a {
			    	border-radius: 0;
			    	width: 5px;
			    	height: 4px;
			    }
			}
		}
	}
}
@media(max-width: 360px) {
	.banner {
		.flexslider {
			.content-text {
				top: 0%;
			}

			ul.slides {
				li.flex-active-slide {
					p {
						display: none;
					}
				}
			}
		}
	}
}