* {
	margin: 0;
	padding: 0;
}
/* Variable */
@yellow: #fbb11e;
@grey: #a2a4a3;
@lgrey: #e1e1e1;
@mwhite: #f4f4f4;
/* end of variable */


/* Roboto font */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@roboto: 'Roboto', sans-serif;
/* end of font */

p {
	font-size: 18px;
	font-family: @roboto;
	font-weight: 300;
}
.animated2 {
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
    

h2 {
	font-size: 5vw;
	font-family: @roboto;
	font-weight: 300;
	text-transform: uppercase;
}

h4 {
	font-family: @roboto;
	font-weight: 500;
}

.relative {
	position: relative;
}

.no-position {
	position: static !important;
}
.border-right {
	border-right: 2px solid @lgrey;
	display: block;
    margin-bottom: 20px;
    text-align: center;
} 
.banner {
	border-bottom: 4px solid @yellow;

	.flexslider {
		margin: 0 0 0px;
		border: none;

		ul.slides {
			li { 
				background: #fff;
				height: 100px;
			}
		}

		.content-text {
			position: absolute;			
			top: 20%;
			left: 0;
			z-index: 1;

			h2, span, img {				
				display: none;
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s, opacity 0.5s linear;
			}
			h2 {
				-vendor-animation-delay: 2s;
				animation-delay: 2s;
			}
			span{
				-vendor-animation-delay: 3s;
				animation-delay: 3s;
			}
			img {
				-vendor-animation-delay: 1s;
				animation-delay: 1s;
			}
		}

		ul.slides {
			li.flex-active-slide {
				height: auto;
				h2, span, img {									
					display: block;				
					visibility: visible;
					opacity: 1;
					transition: visibility 1s, opacity 1s linear;
				}
				
				h2 {
					-vendor-animation-delay: 2s;
					animation-delay: 2s;
				}
				
				a {
					text-transform: uppercase;
					color: #fff;
					padding: 5px 20px;
					background: #107cd4;
					font-weight: 400;
					margin-top: 12px;
					display: inline-block;
					-webkit-border-radius: 20px;
					-moz-border-radius: 20px;
					border-radius: 20px;
				}				

				span {
					-vendor-animation-delay: 3s;
					animation-delay: 3s;
				}
				img {
					-vendor-animation-delay: 1s;
					animation-delay: 1s;
				}
			}
		}
	}

	.flex-control-paging {
		li {
			a {
				border-radius: 0;
				width: 40px;
				height: 9px;
				background: transparent;
			}
			a.flex-active {
				background-color: @grey;
			}
		}
	}
	.flex-control-nav {
		bottom: 40px;
	}

	.flex-direction-nav {
		display: none !important;
	}
}
.carousel-products {
	text-align: center;
	.carousel-nav {
		.button-group {			
			margin: 30px auto;
			border-bottom: 3px solid @lgrey;
			display: inline-block;
			padding: 5px 55px;
			span {
				padding: 5px 10px;
			}
			button {
				background: transparent;
				border: 0;
				font-family: @roboto;
				font-weight: 400;
				font-size: 18px;
				padding-bottom: 10px;
				margin-bottom: -8px;
				
			}
			span:first-child {
				button {
					border-bottom: 3px solid orange;				
				}
			}				
		}
	}
	.flexslider-carousel, .featuredpost {
		ul.slides, ul.mobile {
			li {

				img {
					margin: 0 auto;
				}
				.box {
					height: 190px;
					text-align: center;	
				}
				.content-text {
					p {
						font-size: 13px;

						a {
							text-transform: uppercase;
							color: #fff;
							padding: 5px 20px;
							background: #107cd4;
							font-weight: 400;
							margin-top: 12px;
							display: inline-block;
							-webkit-border-radius: 20px;
							-moz-border-radius: 20px;
							border-radius: 20px;
						}
					}
				}
			}
		}
		.flex-control-nav {
			display: none !important;
		}
		.flex-direction-nav {
			a {
				opacity: 1;
				font-size: 0px;
			}
			a:before, a:after {
				font-size: 0px;
				color: #dddddd;	
				opacity: 0;
				visibility: hidden;
				position: absolute;

			}
			.flex-prev {
				background: url(../images/nav-left.png) no-repeat center;
			}
			.flex-next {
				background: url(../images/nav-right.png) no-repeat center;
			}
		}
	}
}

.carousel-products.mobile {
	display: none;
}
